# ignore linux hidden and temporary files

.*
!.gitignore
*~


# ignore subversion folders

.svn/



# ignore vim backup and temp files

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


# ignore java binary and package files

*.class

# Package Files #
*.jar
*.war
*.ear


# ignore node.js build and temporary files

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules


# ignore python package and temporary files

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

